{%extends "index.html"%}
{%block content %}
	{{ super() }}
	<h1>About</h1>

	<h2>Suspendisse potenti. Nulla quis gravida dolor. Curabitur vehicula rhoncus velit posuere sodales. 
		Vivamus venenatis blandit elit, non fringilla lorem auctor vitae. 
		Proin rhoncus massa eu ex vulputate, fringilla lobortis magna pretium. 
		Morbi imperdiet mauris eu ipsum hendrerit rutrum. Ut eget malesuada justo, ac vulputate leo. Maecenas lacinia dui non ipsum suscipit aliquet. Aenean mollis lacus eu dui suscipit, aliquet convallis tellus vestibulum.

		Nulla aliquet aliquam faucibus. 
		Etiam purus neque, auctor quis tincidunt consectetur, dapibus id libero. 
		Nullam tincidunt non nisl nec suscipit. 
		Curabitur sed ipsum ac diam sagittis facilisis. Nunc tristique porttitor semper. 
		Curabitur a felis tortor. Ut in enim pretium, sollicitudin massa ut, accumsan elit. 
		Nam pellentesque efficitur orci, et vehicula arcu tempor at. I
		nterdum et malesuada fames ac ante ipsum primis in faucibus. 
		Quisque placerat, dolor a volutpat tincidunt, enim mauris sodales augue, vel vestibulum eros tortor sit amet ex. 
		Phasellus eu luctus orci, sed pharetra nisl.</h2>
{%endblock%}