{% extends "index.html" %}
{% block content %}
	{{ super() }}
	{% for item in dict %}
		<form method="post" action="http://127.0.0.1:5000/">
			<div class="line-link row col-md-12 col-xs-12">	
				<h3 class="col-md-4 col-xs-4">{{item.curr_service}}</h3>
				<h3 class="col-md-4 col-xs-4">{{item.curr_time}}</h3>
				<h3 class="col-md-2 col-xs-2">{{item.status}}</h3>
				<button class="btn btn-link justify-content-center" type="submit">Cancel</button>
			</div>
		</form>
	{% endfor %}
{% endblock %}